<div class="about_page">
	<div class="apparel_genome">
		<h1>The Apparel Genome Project</h1>
		<div class="about_description">
			Aveece is a product of the Apparel Genome Project, <br/> the world's most ambitious attempt at mapping each individual's fashion DNA.
		</div>
	</div>
	<div class="founders">
		<h1>Meet the Founders</h1>
	    <div class="founder" id="edwardlando"> <!-- first row of names -->
    	    <div class="founder_photo">
    	    	<img src="/assets/EdwardLando.jpeg" id="edward_pic"/>
    	    </div>
    	    <div id="edward_info">
	    	    <h2 class="founder_name">
	    	    	Edward Lando
	    	    </h2>
	    	    <div class="founder_bio" id="edward_bio">
	    	    	Co-Founder, Head of Product <br/>
		    	    	<a href="https://twitter.com/edwardlando" target="_blank">
							<img src="/assets/tw.png" class="profile_icon"/>
						</a>
		    	    	<a href="http://www.linkedin.com/in/edwardlando" target="_blank">
							<img src="/assets/in.png" class="profile_icon"/>
						</a>
						<a href="http://www.facebook.com/edward.lando" target="_blank">
							<img src="/assets/fb.png" class="profile_icon"/>
						</a>
					<br/><br/>
					Passionate writer, coder <br/>
					<a href="http://www.edwardlando.com/" class="profile_site">Personal site</a>
	    	    </div>
    	    </div>
	    </div>
	    <div class="founder" id="jonathonyoushaei"> <!-- first row of names -->
    	    <div class="founder_photo">
    	    	<img src="/assets/JonathonYoushaei.png" id="jon_pic"/>
    	    </div>
    	    <div id="jon_info">
	    	    <h2 class="founder_name">
	    	    	Jonathon Youshaei
	    	    </h2>
	    	    <div class="founder_bio" id="jon_bio">
	    	    	Co-Founder, Head of Marketing <br/>
	    	    	<a href="https://twitter.com/JonYoushaei" target="_blank">
						<img src="/assets/tw.png" class="profile_icon"/>
					</a>
	    	    	<a href="http://www.linkedin.com/pub/jonathon-youshaei/22/54b/862" target="_blank">
						<img src="/assets/in.png" class="profile_icon"/>
					</a>
					<a href="http://www.facebook.com/youshaei" target="_blank">
						<img src="/assets/fb.png" class="profile_icon"/>
					</a>
					<br/><br/>
					Class President at UPenn, '13 <br/>
					<a href="http://www.youshaei.com/blog" class="profile_site">Personal site</a>
	    	    </div>
    	    </div>
	    </div>
	</div>
</div>