<div class="about_page">
	<div class="apparel_genome">
		<h1>The Apparel Genome Project</h1>
		<div class="about_description">
			Aveece is a product of the Apparel Genome Project, the world's most ambitious attempt at mapping each individual's fashion DNA.
		</div>
	</div>
	<div class="founders">
		<h1>Meet the Founders</h1>
	    <div class="founder" id="edwardlando"> <!-- first row of names -->
    	    <div class="founder_photo">
    	    	<%= link_to image_tag("EdwardLando.jpeg"), "#", :id => "edward_pic" %>
    	    </div>
    	    <div id="edward_info">
	    	    <h2 class="founder_name">
	    	    	Edward
	    	    </h2>
	    	    <div class="founder_bio" id="edward_bio">
	    	    	Co-Founder, Head of Tech <br/>
		    	    	<a href="" target="_blank">
							<img src="/assets/tw.png" class="profile_icon"/>
						</a>
		    	    	<a href="" target="_blank">
							<img src="/assets/in.png" class="profile_icon"/>
						</a>
						<a href="" target="_blank">
							<img src="/assets/fb.png" class="profile_icon"/>
						</a>
	    	    </div>
    	    </div>
	    </div>
	    <div class="founder" id="jonathonyoushaei"> <!-- first row of names -->
    	    <div class="founder_photo">
    	    	<%= link_to image_tag("JonathonYoushaei.png"), "#", :id => "jon_pic" %>
    	    </div>
    	    <div id="jon_info">
	    	    <h2 class="founder_name">
	    	    	Jonathon
	    	    </h2>
	    	    <div class="founder_bio" id="jon_bio">
	    	    	Co-Founder, Head of Marketing <br/>
	    	    	<a href="" target="_blank">
						<img src="/assets/tw.png" class="profile_icon"/>
					</a>
	    	    	<a href="" target="_blank">
						<img src="/assets/in.png" class="profile_icon"/>
					</a>
					<a href="" target="_blank">
						<img src="/assets/fb.png" class="profile_icon"/>
					</a>
	    	    </div>
    	    </div>
	    </div>
	</div>
</div>