<div class="about_page">
	<div class="white_background">
		<h1>About Aveece</h1>

		<p>Have you ever been genuinely excited about a new piece of clothing? <br/><br/>

		At Aveece, we’re passionate about two things - to connect you with clothing you’ll be excited about. And to help you buy it seamlessly. <br/><br/>

		To understand how we do this, you need to know more about the Apparel Genome Project. For the past few months, we’ve been working tirelessly on the Apparel Genome Project as we’re trying to make it the most extensive analysis of fashion ever undertaken. <br/><br/>

		Aveece’s growing community of Tastemakers (our trusty fashion experts and enthusiasts) have been going through clothing items, analyzing every single detail, and funneling them through our database. We continue this work everyday to stay up-to-date with the incredible flow of new clothing coming from boutiques and brand name outfitters from around the world. <br/><br/>

		More than anything, we believe in the value of fashion and the impact it has on our lives. It’s an amazing form of self-expression and creativity. We can’t quite explain why, but there’s something about finding the right clothing that can inspire feelings of comfort, confidence, and excitement. We hope to replicate that feeling and connect you with clothing you’ll love.</p>

		<h1>About the Name</h1>

	    <p>Aveece stands for “A Very Extraordinary Engine for Clothing Exploration.”</p>
	</div>
</div>