<div class="about_page">
	<div class="apparel_genome">
		<h1>The Apparel Genome Project</h1>
		<div class="about_description">
			Aveece is a product of the Apparel Genome Project, the world's most ambitious attempt at mapping each individual's fashion DNA.
		</div>
	</div>
	<div class="founders">
		<h1>Meet the Founders</h1>
	    <div class="founder" id="edwardlando"> <!-- first row of names -->
    	    <div class="founder_photo">
    	    	<%= link_to image_tag("EdwardLando.jpeg"), "#" %>
    	    </div>
    	    <h2 class="founder_name">
    	    	Edward
    	    </h2>
    	    <div class="founder_bio">
    	    </div>
	    </div>
	    <div class="founder" id="jonathonyoushaei"> <!-- first row of names -->
    	    <div class="founder_photo">
    	    	<%= link_to image_tag("JonathonYoushaei.png"), "#" %>
    	    </div>
    	    <h2 class="founder_name">
    	    	Jonathon
    	    </h2>
    	    <div class="founder_bio">
    	    </div>
	    </div>
	</div>
</div>