<div class="tastemaker_info_page">
    <div class="leaderboard">
        <h1 class="black">Leaderboard</h1>
        <div class="metrics">
            <div class="most_active">
                <h2 class="black">Top 10 most active tastemakers</h2>
                <% unless @top_contributors.nil? %>
                    <% @top_contributors[0..9].each do |t| %>
                        <p class="black"><%= t.email ||= t.username %> | <%= t.items.count %> items</p>
                    <% end %>
                <% end %>
            </div>
            <div class="top_rated">
                <h2 class="black">Top 10 highest rated tastemakers</h2>
                <% unless @top_rated.nil? %>
                    <% @top_rated[0..9].each do |t| %>
                        <p class="black"><%= t.email ||= t.username %> | Votes: <%= t.rating %> </p>
                    <% end %>
                <% end %>
            </div>
        </div>



    </div>







	<h1>Meet the Aveece Tastemakers</h1>

	<div class="tastemakers">
        <div class="tastemaker" id="first"> 
            <div class="tastemaker_photo">
                <img src="/assets/Daniel.jpeg" id="first_pic"/>
            </div>
            <div id="first_info">
                <h2 class="tastemaker_name">
                    Daniel Ortiz
                </h2>
                <div class="tastemaker_bio" id="first_bio">
                    Original Tastemaker <br/>
                        <a href="" target="_blank">
                            <img src="/assets/tw.png" class="profile_icon"/>
                        </a>
                        <a href="" target="_blank">
                            <img src="/assets/in.png" class="profile_icon"/>
                        </a>
                        <a href="" target="_blank">
                            <img src="/assets/fb.png" class="profile_icon"/>
                        </a>
                    <br/><br/>
                    Head of Wharton Retail Club
                </div>
            </div>
        </div>
        <div class="tastemaker" id="second"> 
            <div class="tastemaker_photo">
                <img src="/assets/Arjan.png" id="second_pic"/>
            </div>
            <div id="second_info">
                <h2 class="tastemaker_name">
                    Arjan Singh
                </h2>
                <div class="tastemaker_bio" id="second_bio">
                    Original Tastemaker <br/>
                        <a href="" target="_blank">
                            <img src="/assets/tw.png" class="profile_icon"/>
                        </a>
                        <a href="" target="_blank">
                            <img src="/assets/in.png" class="profile_icon"/>
                        </a>
                        <a href="" target="_blank">
                            <img src="/assets/fb.png" class="profile_icon"/>
                        </a>
                    <br/><br/>
                    Wharton Retail Club Exec
                </div>
            </div>
        </div>
        <div class="tastemaker" id="third"> 
            <div class="tastemaker_photo">
                <img src="/assets/Chloe.jpeg" id="third_pic"/>
            </div>
            <div id="third_info">
                <h2 class="tastemaker_name">
                    Chloé Bower
                </h2>
                <div class="tastemaker_bio" id="third_bio">
                    Original Tastemaker <br/>
                        <a href="" target="_blank">
                            <img src="/assets/tw.png" class="profile_icon"/>
                        </a>
                        <a href="" target="_blank">
                            <img src="/assets/in.png" class="profile_icon"/>
                        </a>
                        <a href="" target="_blank">
                            <img src="/assets/fb.png" class="profile_icon"/>
                        </a>
                    <br/><br/>
                    Wharton student
    
                </div>
            </div>
        </div>
    </div>
	<div class="become_tastemaker">
		Are you interested in becoming a tastemaker?  <br/><br/>
		Great. <br/><br/>
		Tell us why: hello [at] aveece [dot] com
	</div>
</div>