<div class="tastemaker_info_page">
	<h1>Meet the Aveece Tastemakers</h1>

	<div class="tastemakers">
	    <div class="tastemaker" id="first"> <!-- first row of names -->
    	    <div class="tastemaker_photo">
    	    	<%= link_to image_tag("Daniel.jpeg"), "#" %>
    	    </div>
    	    <h2 class="tastemaker_name">
    	    	Daniel
    	    </h2>
    	    <div class="tastemaker_bio">
    	    </div>
	    </div>
	    <div class="tastemaker" id="second"> <!-- first row of names -->
    	    <div class="tastemaker_photo">
    	    	<%= link_to image_tag("Arjan.png"), "#" %>
    	    </div>
    	    <h2 class="tastemaker_name">
    	    	Arjan
    	    </h2>
    	    <div class="tastemaker_bio">
    	    </div>
	    </div>
	    <div class="tastemaker" id="third"> <!-- first row of names -->
    	    <div class="tastemaker_photo">
    	    	<%= link_to image_tag("Chloe.jpeg"), "#" %>
    	    </div>
    	    <h2 class="tastemaker_name">
    	    	Chloé
    	    </h2>
    	    <div class="tastemaker_bio">
    	    </div>
	    </div>
	</div>

	<div class="become_tastemaker">
		Are you interested in becoming a tastemaker?  <br/><br/>
		Great. <br/><br/>
		Tell us why: hello [at] aveece [dot] com
	</div>
</div>