<div class="user_profile_partial">
    <h1>My Profile</h1>
    <ul>
		<li class="user_name">
			<p class="profile_subtitle"> Information </p>
			<%= current_or_guest_user.username ||= current_or_guest_user.email %>
		</li>
		<li class="my_profile">
			<p class="profile_subtitle"> My Paths </p>
			<% current_or_guest_user.channels.each do |channel| %>
		        <%= link_to "#{channel.gender}, #{channel.price},
		                     #{channel.vibe}, #{channel.apparel}",
		                     {:controller => "store", :action => "index", :switch => "true",
		                      :current_channel => "#{channel.id}" }
		        %><br/>
	        <% end %>
		</li>
		<li class="my_profile">
			<p class="profile_subtitle"> My Wishlist <br/> <span class="help_notice">(upvote to add to wishlist)</span> </p>
			<% unless current_or_guest_user.wishlist.nil? || current_or_guest_user.wishlist.items.nil? %>
			    <% current_or_guest_user.wishlist.items.each do |item| %>
					<%= link_to "#{item.title}", "#{item.url}" %> <br />
			    <% end %>
			<% end %>
		</li>
		<li class="my_profile"> 
			<p class="profile_subtitle"> <%= link_to "Logout", {:controller => "sessions", :action => "destroy", :method => :get } %></p>
		</li> <!-- destroy_user_session_path -->
	</ul>
</div>
