    <ul class="user_profile_partial">
		<h1>My Profile</h1>
		<li class="user_name">
			<p class="profile_subtitle"> Information </p>
			<%= current_user.username ||= current_user.email %>
		</li>
		<li class="my_profile">
			<p class="profile_subtitle"> My channels </p>
			<% current_user.channels.each do |channel| %>
		        <%= link_to "#{channel.name}", :controller => "store", :action => "index", :channel_id => "#{channel.id}", :switch_channel => "true" %> <br />
	        <% end %>
		</li>
		<li class="my_profile">
			<p class="profile_subtitle"> My wishlist </p>
			<% unless current_user.wishlist.nil? || current_user.wishlist.items.nil? %>
			    <% current_user.wishlist.items.each do |item| %>
					<%= link_to "#{item.title}", "#{item.url}" %> <br />
			    <% end %>
			<% end %>
		</li>
    </ul>

