
<p class="profile_label">My channels</p>
<% unless current_user.channels.nil? %>
    <% current_user.channels.each do |channel| %>
      <%= link_to "#{channel.name}", root_path, :switch_channel => "true", :channel_id => "#{channel.id}" %>
      <br/>
    <% end %>
<% end %>

<p class="profile_label">My wishlist</p>
<% unless current_user.wishlist.nil? || current_user.wishlist.items.nil? %>
	<% current_user.wishlist.items.each do |item| %>
		<%= item.title %> 
	<% end %>
<% end %>


