<div class="orders">
  <h1>Listing orders</h1>

  <% @orders.each do |order| %>
    <%= link_to "Order number #{order.id}", {:controller => "confirmations", :action => "new", :id => order.id }%> | created_at <%=order.created_at %> </br>  
  <% end %>
</div>




