<div class="order_confirmation_form">
	<% if current_user.role == "standard" %>
	  Thank you for submitting your order. We'll get back to you soon to confirm the items and prices.
	<% elsif current_user.role == "admin" %>

	  <p>Order Id: @order.id </p>
	  <p>Customer: @order.user </p>

	  <% @order.line_items.each do |item| %>
		  <p> Original URL: item.current_url </p>
		  <p> Item name: item.name </p>
	  <% end %>
	<% end %>

</div>