<div class="cart_partial">
	<h1>My cart</h1>
	<ul class="cart_line_item">
	<% current_user.cart.line_items.each do |line_item| %>
        <li>
        <strong> Original item name: </strong>
        <%= line_item.name %> (<strong>Quantity: </strong> <%= line_item.quantity %>) 
       </li>
    <% end %>
  </ul>
  <div class="actions">
    <div class="checkout_button"><%= link_to "Request these items", new_order_path, :method => :get %></div>
  </div>
</div>

