<div class="cart_partial">
	<h1>My cart</h1>
	<ul>
	<% current_user.cart.line_items.each do |line_item| %>
        <li>(<%= line_item.quantity %>) 
        <br /> 
        <%= line_item.current_url %>
       </li>
    <% end %>
  </ul>
  <div class="actions">
    <div class="checkout_button"><%= link_to "Checkout", new_order_path, :method => :get %></div>
  </div>
</div>

