<div class="cart_partial">
	<h1>My cart</h1>
	<ul class="cart_line_item">
  <% if current_user %>
	<% current_user.cart.line_items.each do |line_item| %>
        <li>
        <%= line_item.name %> (<%= line_item.quantity %>) &nbsp &nbsp 
        <%= link_to "remove", line_item, :method => :delete,
          :remote => true  %>
       </li>
    <% end %>
  </ul>
  <div class="actions">
    <div class="checkout_button"><%= link_to "Request these items", new_order_path, :method => :get %></div>
  </div>
  <% end %>
</div>

