<div class="cart_partial">
	<h1>My cart</h1>
	<ul>
	<% current_user.cart.line_items.each do |line_item| %>
        <li><%= line_item.item.title %> * (<%= line_item.quantity %>) 
        <br /> 
       </li>
    <% end %>
    </ul>
    <h3> Total price = $<%= current_user.total_cart_price %> </h3>
    <div class="actions">
      <div id="checkout">Checkout</div>
    </div>
</div>