html, body {
	/* background-color: #2F2F2F; */
	background-image: url("classy_fabric.png");
	background-repeat: repeat-x repeat-y;

}

body {
	margin:0;
	padding:0;
	padding-bottom: 60px;
}

body, p, ol, ul {
	font-family: 'Helvetica Neue' !important;
}

p { font-size:12px;
	line-height:1.4em;
	color: black;
}

a {
	text-decoration: none;
}

.welcome_message {
	text-align: center;
}

.welcome_message h1, .welcome_message h1 a  {
	color: #59b4ae;
	font-family: 'Futura';
	text-align: center;
	font-size: 48px;
	padding-top: 100px;
}

.welcome_message h1 a:hover {
	background-color: transparent;
	color: rgba(238,238,238,0.8);
}

.welcome_message h2 {
	color: rgba(204,204,204,0.8);
	font-family: 'Futura';
	text-align: center;
	font-size: 24px;
}

.welcome_message h3 {
	color: white;
	font-weight: normal;
	font-family: verdana, arial, helvetica, sans-serif;
	text-align: center;
	font-size: 18px;
	margin-top: 40px
}

.no_more_items {
	color: white;
}



.header {
	font-weight:bold;
	width:100%;
	border-bottom:1px solid #e3e3e3;
	margin-top: 0px;
	padding-bottom: 5px;
	font-size:15px;

}

.notice, .alert {
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
}

.container {
	margin:auto;
	padding-bottom:30px;
}

.container iframe{
	width:100%;
	height:940px;
}

#header {
	background-image: url("classy_fabric.png");
	background-repeat: repeat-x repeat-y;
}

.title {
	float:left;
	padding-right:30px;
	color: white;
	font-size:26px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	font-weight:bold;
	padding-top:0px;
	margin-top:6px;
	margin-left: 24px;
	
}

.title a, .title a:visited{
	/*color: rgba(255, 255, 255, 0.8);
	font-family: 'Proxima Nova Regular','Helvetica Neue',Sans-serif; */
	color: #59b4ae; /*rgba(204,204,204,0.8) */
	font-family: 'Futura';
}


.title a:hover {
	color: rgba(238,238,238,0.8);
	background-color: transparent;
}


#new_channel, #new_item, #my_profile {
	position: relative;
}

#my_profile img, #my_cart img, #downvote img, #upvote img, #next_icon img {
	width: 23px;
	height: 23px;
}

#verticaldivider img {
	height: 23px;
}


#header-container {
	margin: 0 auto;
	width: 900px;
}

.my_profile li a{
	color: #59B4AE;
}

.my_profile {
	width: 24.5%;
}

.top {
	padding-bottom:80px;
	margin-bottom:30px;
	height:20px;
}

div .top{
	margin-bottom: 0;
}

p .notice {
	margin: 0;
	padding: 0;
	border: 0;
}

.add {
	background-color: transparent; ;
	width: 56px;
	height: 21px;
	margin: 0;
	padding: 0;
	float: left;
	padding: 3px;
	color: white;
	font-size: 12px !important;
	text-align: center;
	padding-top: 8px;
	text-shadow: none;
	font-size: 11.5px;
	margin: 0 20px 0 0;
}


.add p {
	float:left;
	margin-bottom:25px;
}


.logout, .next {
	background-color: transparent;
	width: 44px;
	height: 21px;
	margin: 0;
	padding: 0;
	float: left;
	padding: 3px;
	color: white;
	text-align: center;
	padding-top: 8px;
	text-shadow: none;
	font-size: 11.5px;
	margin: 0 20px 0 0;
}

.add a, .logout a, .next a {
	color: white !important;
	text-decoration: none !important;
}
.logout a:hover, .next a:hover, .add a:hover {
	background-color: transparent;
}

.logout:hover, .next:hover, .add:hover {
	background-color: transparent;
	border-bottom: 1px solid white;
}

.channel_list {
	background-color: #23759B;
	width: 200px;
	height: 60px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	float: left;
	padding: 3px;
	color: black;
	text-align: center;
	padding-top: 8px;
	text-shadow: none;
	font-size: 11.5px;
	margin: 0 20px 0 0;

}

.footer {
	text-align: center;
	color: white;
}

.authentification, .authentification a, .authentification a:visited {
	text-align: center;
	color: white;
}

.sign_up, .login {
	display: inline-block;
}

.sign_up_partial, .sign_in_partial {
	width: 200px;
	margin-top : 80px;
	margin-bottom: 50px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.sign_up_partial {
	/* display: none; */
}

#want_to_join a {
	color: white;
	font-size: 16px;
}


.registration_field, .authentification_field {
	height: 32px;
	width: 100%;
}

.registration_button, .authentification_button {
	width: 100%;
	background-color: rgba(204,204,204,0.8);
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	border: none;
}

.registration_button:hover, .authentification_button:hover {
	background-color: rgba(238,238,238,0.8);
}

.devise_links {
	color: white;
}

.remember_me {
	margin-top: 8px;
}

#want_to_join {
	text-align: center
}

#want_to_join p {
	font-size: 16px;
	color: white;
}

.devise_links:hover {
	background-color: transparent !important;
}


.no_more_items {
	text-align: center;
}

.channel_name {
	text-align: center;
}

.selected:hover .picker{
	display: block;
}

.picker {
	top: 19px;
	height: 70px;
	width: 150px;
}

.option, .selected {
    font-size: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid white;
	margin: 1px;
	float: left;
	cursor: pointer;
	position: relative;
	color: transparent;
}

.option:hover {
	border: 1px solid #59B4AE;
}

/* Highlighting is taken care of in the js file */

#ColorAll {
	width: 60px;
	height: 60px;
	border: none;
	color: white;
}

#ColorWhite {
	background: white;
}

#ColorBlack {
	background: black;
}

#ColorRed {
	background: #FE3F44;
}

#ColorGreen {
	background: #38E156;
}

#ColorBlue {
	background: #39AECF;
}

#ColorYellow {
	background: #FFD200;
}

#ColorPink {
	background: #E439A1;
}

#ColorGrey {
	background: #777;
}

#ColorBrown {
	background: #563416;
}

#ColorPurple {
	background: #8106A9;
}

#ColorOrange {
	background: #FF7400;
}

#StyleAll { 
   position: relative;
   font-size: 14px;
   height: 40px;
   width: 200px;
   color: white;
   border: none;
}

#StyleElegant {
   position: relative;
   font-size: 14px;
   height: 40px;
   width: 200px;
   color: white;
   border: none;
}

#StyleCasual {
   color: white;
   font-size: 14px;
   height: 40px;
   width: 200px;
   border: none;
}

#StylePreppy {
   color: white;
   font-size: 14px;
   height: 40px;
   width: 200px;
   border: none;
}

#StyleHipster {
   color: white;
   font-size: 14px;
   height: 40px;
   width: 200px;
   border: none;
}

#Unisex {
   position: relative;
   font-size: 14px;
   height: 40px;
   width: 200px;
   color: white;
   border: none;
}

#Male {
   position: relative;
   font-size: 14px;
   height: 40px;
   width: 200px;
   color: white;
   border: none;
}

#Female {
   position: relative;
   font-size: 14px;
   height: 40px;
   width: 200px;
   color: white;
   border: none;
}

#UnderAll {
   position: relative;
   font-size: 14px;
   height: 40px;
   width: 200px;
   color: white;
   border: none;
}

#Under50 {
   position: relative;
   font-size: 14px;
   height: 40px;
   width: 200px;
   color: white;
   border: none;
}

#Under100 {
   position: relative;
   font-size: 14px;
   height: 40px;
   width: 200px;
   color: white;
   border: none;
}

#Under200 {
   position: relative;
   font-size: 14px;
   height: 40px;
   width: 200px;
   color: white;
   border: none;
}

#channel_name, #item_title {
	width: 80%;
	height: 35px;
}

#item_url, #item_price {
	width: 80%;
	height: 35px;
}

#channel_color, #item_color {
	display: none;
}

#channel_style, #item_style {
	display: none;
}

#channel_price {
	display: none;
}

#channel_gender, #item_gender {
	display: none;
}



.inner, .inner_item, .inner_user, .inner_cart, .inner_add_to_cart {
	width: 100%;
	border-bottom: 1px solid white;
	display: none;
}

.inner_add_to_cart .field {
    display: inline-block;
}

.inner li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	width: 19%;
	padding: 0;
	margin: 0;
}

.inner_item li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	width: 24%;
	padding: 0;
	margin: 0;
}

.inner_user li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	width: 24.5%;
	padding: 0;
	margin: 0;
}


.inner_cart li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	width: 100% !important;
	padding: 0;
	margin: 0;
}


.user_profile_partial, .cart_partial {
	color: white !important;
}

.user_profile_partial li a, .cart_partial li a {
	color: #59B4AE;
}

.profile_subtitle {
	color: white;
}


#channel_form, #item_form {
	color: white;
	padding: 0px;
}


.inner .actions input{
	background-color: #3AAACF;
	border: 1px solid white;
	width: 100%;
	border-radius: 5px;
}

#inner_item .inner_item {
	width: 100%;
}

#make_channel {
	width: 100%;
	height: 30px;
	background-color: #39AECF;
	border-radius: 3px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16px !important;
	padding-top: 5px;
	font-size: 14px;
	border: none;
}

#landing_create {
	width: 100%;
	height: 30px;
	background-color: #39AECF;
	border-radius: 3px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16px !important;
	padding-top: 5px;
	font-size: 14px;
}

#make_item {
	width: 100%;
	height: 30px;
	background-color: #38E156;
	border-radius: 3px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16px !important;
	padding-top: 5px;
	font-size: 14px;
	border: none;
}

.make_line_item {
	width: 100%;
	height: 30px;
	background-color: #FF8C00;
	border-radius: 3px;
	text-align: center;
	color: white !important;
	font-weight: bold;
	font-size: 16px !important;
	padding-top: 5px;
	font-size: 14px;
	border: none;
}

.make_line_item_text {
	color: white !important;
}

.checkout_button {
	width: 100%;
	height: 30px;
	background-color: #FE3F44;
	border-radius: 3px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16px !important;
	padding-top: 5px;
	font-size: 14px;
}

.request_button {
	width: 80%;
	height: 30px;
	background-color: #FE3F44;
	border-radius: 3px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16px !important;
	padding-top: 5px;
	font-size: 14px;
	margin: 0px;
	border: 0px;
}

.checkout_button a, .checkout_button a:hover {
	color: white !important;
	background-color: transparent;
}

.order_form {
	width: 400px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.order_form a { 
	color: white !important;
}

.order_confirmation_form, .order_confirmation_form p, .order_confirmation_form a {
	width: 400px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

#error_explanation {
	color: black !important;
	border: 2px solid #59B4AE !important;
	width: 250px !important;
	display: inline-block; 
}

#error_explanation h2 {
	color: black !important;
	background-color: #59B4AE !important;
}

.field_with_errors {
	background-color: #59B4AE !important;
	display: inline-block;
}


/* Allowing user to make new channel on the landing page */
.new_channel_landing_page {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	border-top: 1px solid white;
}

.new_channel_landing_page li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	width: 19%;
	padding: 0;
	margin: 0;
}

.welcome_message p{
	color: white;
	text-align: center;
}

.orders {
	color: white;
	text-align: center;
}

.orders a, .orders a:hover, .orders a:visited {
	color: #59B4AE;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
}

.order_confirmation_form a, .order_confirmation_form a:hover, .order_confirmation_form a:visited {
	color: #59B4AE;
	text-decoration: none;
	background-color: transparent;
}

.order_confirmation_form ul {
	list-style: none
}

.cart_line_item li {
	width:200px;
	font-size: 100%;
}

.contributed_by {
	color: white;
	font-style: italic;
}

.contributed_by a, .contributed_by a:visited {
	color: #59B4AE;
}

.footer a {
    color: #59B4AE !important;
}

a:hover {
	color: lightpink !important;
	background-color: transparent !important;
	text-decoration: none;
}

.create_line_item_text {
	color: white !important;
}

.splashpage_flourish {
	margin-top: 30px;
	text-align: center;
}











