html, body {
	/* background-color: #2F2F2F; */
	background-image: url("pattern1.jpg");
	background-image: url("denim.png");
	background-repeat: repeat-x repeat-y;

}

body {
	margin:0;
	padding:0;
	padding-bottom: 60px;
}

body, p, ol, ul {
	font-family: 'Helvetica Neue' !important;
}

p { font-size:12px;
	line-height:1.4em;
	color: black;
}

a {
	text-decoration: none;
}

.welcome_message {
	text-align: center;
}

.welcome_message h1, .welcome_message h1 a  {
	color: rgba(204,204,204,0.8);
	font-family: 'Futura';
	text-align: center;
	font-size: 48px;
	padding-top: 100px;
}

.welcome_message h1 a:hover {
	background-color: transparent;
	color: rgba(238,238,238,0.8);
}

.welcome_message h2 {
	color: rgba(204,204,204,0.8);
	font-family: 'Futura';
	text-align: center;
	font-size: 24px;
}

.no_more_items {
	color: white;
}



.header {
	font-weight:bold;
	width:100%;
	border-bottom:1px solid #e3e3e3;
	margin-top: 0px;
	padding-bottom: 5px;
	font-size:15px;

}

.notice, .alert {
	margin: 0;
	padding: 0;
	color: white;
}

.container {
	margin:auto;
	padding-bottom:30px;
}

.container iframe{
	width:100%;
	height:940px;
}

#header {
	background-image: url("pattern1.jpg");
	background-image: url("denim.png");
	background-repeat: repeat-x repeat-y;
}

.title {
	float:left;
	padding-right:30px;
	color: white;
	font-size:26px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	font-weight:bold;
	padding-top:0px;
	margin-top:6px;
	margin-left: 24px;
	
}

.title a, .title a:visited{
	/*color: rgba(255, 255, 255, 0.8);
	font-family: 'Proxima Nova Regular','Helvetica Neue',Sans-serif; */
	color: rgba(204,204,204,0.8);
	font-family: 'Futura';
}


.title a:hover {
	color: rgba(238,238,238,0.8);
	background-color: transparent;
}


#new_channel, #new_item, #my_profile {
	position: relative;
}

#header-container {
	margin: 0 auto;
	width: 900px;
}

.my_profile li a{
	color: #39AECF;
}

.my_profile {
	width: 24.5%;
}

.top {
	padding-bottom:80px;
	margin-bottom:30px;
	height:20px;
}

div .top{
	margin-bottom: 0;
}

p .notice {
	margin: 0;
	padding: 0;
	border: 0;
}

.add {
	background-color: transparent; ;
	width: 56px;
	height: 21px;
	margin: 0;
	padding: 0;
	float: left;
	padding: 3px;
	color: white;
	font-size: 12px !important;
	text-align: center;
	padding-top: 8px;
	text-shadow: none;
	font-size: 11.5px;
	margin: 0 20px 0 0;
}

.add p {
	float:left;
	margin-bottom:25px;
}

.logout, .next {
	background-color: transparent;
	width: 44px;
	height: 21px;
	margin: 0;
	padding: 0;
	float: left;
	padding: 3px;
	color: white;
	text-align: center;
	padding-top: 8px;
	text-shadow: none;
	font-size: 11.5px;
	margin: 0 20px 0 0;
}

.add a, .logout a, .next a {
	color: white !important;
	text-decoration: none !important;
}
.logout a:hover, .next a:hover, .add a:hover {
	background-color: transparent;
}

.logout:hover, .next:hover, .add:hover {
	background-color: transparent;
	border-bottom: 1px solid white;
}

.channel_list {
	background-color: #23759B;
	width: 200px;
	height: 60px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	float: left;
	padding: 3px;
	color: black;
	text-align: center;
	padding-top: 8px;
	text-shadow: none;
	font-size: 11.5px;
	margin: 0 20px 0 0;

}

.footer {
	text-align: center;
	color: white;
}

.authentification, .authentification a, .authentification a:visited {
	text-align: center;
	color: white;
}

.sign_up, .login {
	display: inline-block;
}

.sign_up_partial, .sign_in_partial {
	width: 200px;
	margin-top : 80px;
	margin-bottom: 50px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.sign_up_partial {
	display: none;
}

.registration_field, .authentification_field {
	height: 32px;
	width: 100%;
}

.registration_button, .authentification_button {
	width: 100%;
	background-color: rgba(204,204,204,0.8);
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	border: none;
}

.registration_button:hover, .authentification_button:hover {
	background-color: rgba(238,238,238,0.8);
}

.devise_links {
	color: white;
}

.remember_me {
	margin-top: 8px;
}

#want_to_join {
	text-align: center
}

#want_to_join p {
	font-size: 16px;
	color: white;
}

.devise_links:hover {
	background-color: transparent !important;
}


.no_more_items {
	text-align: center;
}

.channel_name {
	text-align: center;
}

.selected:hover .picker{
	display: block;
}

.picker {
	top: 19px;
	height: 70px;
	width: 150px;
}

.option, .selected {
    font-size: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid white;
	margin: 1px;
	float: left;
	cursor: pointer;
	position: relative;
}

.option:hover {
	border: 1px solid lightblue;
}

/* Highlighting is taken care of in the js file */

#ALL {

}

#White {
	background: white;
}

#Black {
	background: black;
}

#Red {
	background: #F60018;
}

#Green {
	background: #24913C;
}

#Blue {
	background: #1826B0;
}

#Yellow {
	background: #FFE500;
}

#Pink {
	background: #E83A93;
}

#Grey {
	background: #777;
}

#Brown {
	background: #563416;
}

#Purple {
	background: #470D6E;
}

#Orange {
	background: #E7600D;
}
#ALL { 
}

#ALL_STYLES { 
   height: 60px;
   width: 60px;
}

#Elegant {
   height: 60px;
   width: 60px;

}

#Casual {
   height: 60px;
   width: 60px;
}

#Preppy {
   height: 60px;
   width: 60px;
}

#Hipster {
   height: 60px;
   width: 60px;
}

#BOTH {
   height: 60px;
   width: 60px;
}

#Male {
   height: 60px;
   width: 60px;
}

#Female {
   height: 60px;
   width: 60px;
}

#UnderALL {
   height: 60px;
   width: 60px;
}

#Under50 {
   height: 60px;
   width: 60px;
}

#Under100 {
   height: 60px;
   width: 60px;
}

#Under200 {
height: 60px;
   width: 60px;
}

.option {
	
}

#channel_name, #item_title {
	width: 80%;
	height: 35px;
}

#item_url, #item_price {
	width: 80%;
	height: 35px;
}

#channel_color, #item_color {
	display: none;
}

#channel_style, #item_style {
	display: none;
}

#channel_price {
	display: none;
}

#channel_gender, #item_gender {
	display: none;
}



.inner, .inner_item, .inner_user, .inner_cart {
	width: 100%;
	border-bottom: 1px solid white;
	display: none;
}

.inner li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	width: 19%;
	padding: 0;
	margin: 0;
}

.inner_item li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	width: 24%;
	padding: 0;
	margin: 0;
}

.inner_user li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	width: 24.5%;
	padding: 0;
	margin: 0;
}


.inner_cart li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	width: 24.5%;
	padding: 0;
	margin: 0;
}


.user_profile_partial, .cart_partial {
	color: white !important;
}

.user_profile_partial li a, .cart_partial li a {
	color: #39AECF;
}

.profile_subtitle {
	color: white;
}


#channel_form, #item_form {
	color: white;
	padding: 0px;
}


.inner .actions input{
	background-color: #3AAACF;
	border: 1px solid white;
	width: 100%;
	border-radius: 5px;
}

#inner_item .inner_item {
	width: 100%;
}

#create_channel {
	width: 100%;
	height: 30px;
	background-color: #39AECF;
	border-radius: 3px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16px !important;
	padding-top: 5px;
	font-size: 14px;
}

#create_item {
	width: 100%;
	height: 30px;
	background-color: #38E156;
	border-radius: 3px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16px !important;
	padding-top: 5px;
	font-size: 14px;
}

#checkout {
	width: 100%;
	height: 30px;
	background-color: #FE3F44;
	border-radius: 3px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 16px !important;
	padding-top: 5px;
	font-size: 14px;
}





