 <% if @user.nil? %>
    <div class="welcome_message">
    	<h1><%= link_to "AVEECE", root_path %></h1>
    	<h2> The best way to discover and buy clothes </h2>
    </div>


    <div class="sign_in_partial">
	    <%= render :partial => "devise/sessions/new" %>
	</div>

	<div class="sign_up_partial">
	    <%= render :partial => "users/form" %>
	</div>

    <div id="want_to_join">
    	<p>Join Aveece</p>
    </div>



 <% elsif @channel.channel_items.empty? %>
	<div class="no_more_items">We've run out of things to show you! Come back soon for more!</div>
 <% else %>
	 <div "iframe_div">
	    <iframe src=<%= @item_url %> alt="product" id="main_iframe"></iframe>
	 </div>
 <% end %>




