

<!--if current_user.nil? -->
<!--  elsif current_user.current_channel.channel_items.empty? -->
	<!--<div class="no_more_items">We've run out of things to show you! Come back soon for more!</div>-->
	 <div "iframe_div">
	    <iframe src="http://www.ralphlauren.com/product/index.jsp?productId=4373780&parentPage=family" alt="product" id="main_iframe"></iframe>
	 </div>
<!--end -->

<!-- @item_url -->

