<%= link_to "About Aveece",{ :controller => "static_pages", :action => "about" } %>
&nbsp &nbsp |
&nbsp &nbsp
<a href="mailto:edwardlando8@gmail.com?Subject=Aveece%20Inquiry">Contact</a>
&nbsp &nbsp |
&nbsp &nbsp <%= link_to "Terms", {:controller => "static_pages", :action => "terms" } %>