<div class="footer_links">
	<%= link_to "About Aveece",{ :controller => "static_pages", :action => "about" } %>
	&nbsp &nbsp |
	&nbsp &nbsp
	<a href="mailto:edwardlando8@gmail.com?Subject=Aveece%20Inquiry">Contact</a>
	&nbsp &nbsp |
	&nbsp &nbsp <%= link_to "Terms", {:controller => "static_pages", :action => "terms" } %>
</div>
<div class="like_aveece">
    <div class="fb-like" id="like_aveece" data-href="https://www.aveece.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
    <div id="tweet_aveece"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.aveece.com/" data-via="aveece" data-hashtags="aveece">Tweet</a></div>
</div>

